*{
    margin: 0;
}


/* Header CSS */
#title{
    font-size:2rem;
    font-weight: 700;
    padding-top: 0px;
}
header{
    background-color: rgba(255, 144, 14, 0.1); 
    padding-bottom: 20px;
    margin-bottom: 20px;
}
nav a{
    text-decoration: none;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 4rem;

}
.banner{
    /* width: 80%; */
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .text-part, .sponsor-text{
    text-align: center;
    padding-bottom: 30px;
}

.text-part h2{
    font: 1em Monospace;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.text-part button, .feature-part button{
    width: 150px;
    height: 44px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
.banner img{
    width: 100%
    
} 

/* First Section CSS */
.first-part{
    display: flex;
    align-items: center;
    padding: 20px 200px;
    /* width: 50%; */
}
.first-part .pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}
.pictures img{
    width: 100%;
}
/* second-part css */
.second-part{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    gap: 70px;
    align-items: center;
    padding: 0 200px;
    margin-bottom: 50px;
    /* width: 50%; */
}


.second-image .year{
    font-size: 1.5rem;
    font-weight: 700;
}
.second-image img{
    margin-right: 0;
    width: 100%;


}
.second-image{
    position: relative;
}

.second-image button{
    width: 140px;
    height: 90px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    position: absolute;
    right: 300px;
    top: 450px;


}
.second-part-feature{
    width: 50%;
}
.second-part-feature h3{
    font: 1em monospace;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    border-left: 3px solid orange;
    padding-left: 15px;
}
.second-part-feature p{
    /* margin-right: 10px; */
    margin-bottom: 20px;
}
.second-part-box{
    height: 4rem;
    width: 24rem;
    margin: 5px 20px 17px 0px;
    padding: 10px;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #F3F3F3;
    
}
.second-part-box p{
    font-size: 1rem;
}
/* Feature Css */
.feature-part{
    padding-left: 40px;
}

.feature-part h3{
    padding-bottom: 10px;
}

.feature-part p, .sponsor-text p, .facts-text p{
    color: gray;
}

#quick{
    color: rgb(146, 145, 145);
    font: 1.5rem Monospace;
    font-weight: 700;
}

#of-our{
    font: 1.5rem Monospace ;
    font-weight: 700;
}

#feature{
    color: orange;
    font: 1.5rem Monospace ;
    font-weight: 700;
}

/* Sponsor CSS */

.sporsor-section, .facts{
    padding: 0 150px 30px;
    
}
/* CSS for h3 */
.sponsor-text h3, .facts-text h3, .Extra-section h3{
    font: 1em Monospace;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.sponsor-image{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
    
}
.sponsor-image img{
    width: 10%;
    filter: grayscale(100%);
}

/* Facts CSS */
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .box{
    border: 1.5px solid orange;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

.box:hover{
    transform: rotate(30deg) scale(1.5);
    transition: transform 2s;
}
/* Footer CSS */
footer{
    background-color: rgba(255, 144, 14, 0.1); 
    text-align: center;
    margin: 0 150px;
    height: 50px;
    padding-top: 20px;
}
/* Extra Part CSS */
.Extra-section h3{
    text-align: center;
    margin-bottom: 30px;

}
.extra-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.extra-container img{
    margin-bottom: 10px;
}
.work-box{
    text-align: center;
    width: 20rem;
}
/* Website respponsive in small device */
@media screen and (max-width: 576px) {
    
    .first-part, .second-part{
        flex-direction: column;
    }
    .second-image button{
        display: block;
    }
    .second-image img{
        width: 100%;
    }
    
    .first-part .pictures{
        grid-template-columns: repeat(1, 2fr);
    }
    .sponsor-image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sponsor-image img{
        width: 35%;
        padding-bottom: 1rem;
    }

    .container{
        flex-direction: column;
        gap: 10px;
    }

    .extra-container{
        flex-direction: column;
        gap: 20px;
    }
    
}